.navigation {
    height: 50px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .nav-links-container {
      position:absolute;
      width: 100px;
      height: 20px;
      border-radius: 100px;
      top: 10px;
      right: 170px;
      margin: 1px;
      box-sizing: border-box;
  
      .nav-link {
        padding: 200px 25px;
        cursor:pointer;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }
    }
  }